
/******** Bootstrap override **********/

.panel-primary, .panel-primary.panel-info  {
	border-color: rgb(0,133,63) !important;
}
.panel-primary .panel-heading, .panel-primary.panel-info .panel-heading  {
	background-color: rgb(0,133,63);
	background-image: inherit;
	color: #FFF;
}
.panel-info  {
	border-color: rgb(255,99,25);
}
.panel-info .panel-heading  {
	background-color: rgb(255,99,25);
	background-image: inherit;
}
.panel-info .panel-heading .text-muted {
	color: #F7DEB1;
}

/**************************************/


#builder_el_tpl, #options_tpl  {
	display: none;
}

.builder_el.inactive .panel-body  {
	display: none;
}
.builder_el .panel-heading  {
	cursor: pointer;
}

#built_els  {
	border: 5px solid white;
}
.built_parameter_hover  {
	border: 5px solid rgb(0,133,63) !important;
}

.name_span  {
	display: none;
}

#chooser_container  {
}
#chooser_container h5  {
}
#chooser_container .parameter  {
	margin-right: 1em
}
#chooser_container .parameter input  {
	width: 100%;
}
#chooser_container .parameter input[type=checkbox]  {
	width: inherit;
}



