
#builder_el_tpl, #options_tpl  {
	display: none;
}

.builder_el.inactive .panel-body  {
	display: none;
}
.builder_el .panel-heading  {
	cursor: pointer;
}

#built_els  {
	border: 5px solid white;
}
.built_parameter_hover  {
	border: 5px solid rgb(0,133,63) !important;
}

.name_span  {
	display: none;
}

#chooser_container  {
}
#chooser_container h5  {
}
#chooser_container .parameter  {
	margin-right: 1em
}
#chooser_container .parameter input  {
	width: 100%;
}
#chooser_container .parameter input[type=checkbox]  {
	width: inherit;
}



